<% unless user_signed_in? %>
<div class="jumbotron">
  <h1 class="display-6">Welcome to Minibarra Cloud</h1>
  <p class="lead">Secure cloud storage for hospitality.</p>
  <hr class="my-4">
  <p>All your files in one place.</p>
  <p class="lead">
    <%= link_to "Log in", new_user_session_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-secondary btn-lg' %>
  </p>
</div>
<div class="row">
	<div class="col-sm-5 offset-sm-1">
		<div class="features">
			<h2>Features</h2>
			<p>
				<i class="fa fa-cloud-upload" aria-hidden="true"></i>
 				Upload files
 			</p>
			<p>
				<i class="fa fa-cloud-download" aria-hidden="true"></i>
				Download files
			</p>
			<p>
				<i class="fa fa-folder" aria-hidden="true"></i>
				Create folders
			</p>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card" style="width: 20rem; display: none;">
		  <div class="card-block">
		    <h4 class="card-title">MeehanBox on GitHub</h4>
		    <p class="card-text">MeehanBox was built with Rails 5, using AWS S3, Paperclip, Devise, PostgreSQL and Bootstrap 4 (Alpha).</p>
		    <a href="http://github.com/tomeehan/storage" class="btn btn-primary"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
		  </div>
		</div>		
	</div>		
	</div>

</div>
<% else %>
 
<div class="card-header">
<%= render :partial => "breadcrumbs" %>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Uploaded At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @folders.each do |folder| %>
      <tr>
        <td>
          <%= link_to browse_path(folder) do %>
            <i class="fa fa-folder" aria-hidden="true"></i>  
            <%= folder.name %>
          <% end %>
        </td>
        <td>
          -
        </td>
        <td>
          -
        </td>
        <td class="actions">
          <%= link_to rename_folder_path(folder) do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
          <%= link_to do %>
          <i class="fa fa-share-square-o" aria-hidden="true"></i>
          <% end %>          
          <%= link_to folder, method: :delete, data: { confirm: 'Are you sure to delete the folder and all of its contents?' } do %>
            <i class="fa fa-trash "></i> 
           <% end %>
        </td>
       </tr> 
      <% end %>
      <% @assets.each do |asset| %>
        <tr>
          <td>
            <%= link_to asset.uploaded_file.url do %>
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <%= asset.uploaded_file_file_name %>
            <% end %>
          </td>
          <td>
            <%= number_to_human_size(asset.uploaded_file_file_size, precision: 2) %>
          </td>
          <td><%= asset.uploaded_file_updated_at %></td>
          <td class="actions">
            <%= link_to download_url(asset) do %>
              <i class="fa fa-download "></i> 
            <% end %>
            <%= link_to asset, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash "></i> 
             <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.assets.count == 0 %>
  <div class="no-files">
    <p>
      <i class="fa fa-frown-o fa-5x"></i>
      <br>
      <br>
      <br>
      Hey, <%= current_user.name %> it looks like you don't have any files! 
      <br>
      Click that blue button below to upload something.
    </p>
  </div>
  <% end %>
</div>
  <div class="card-footer">
  <% if @current_folder %>
    <%= link_to new_sub_file_path(@current_folder), class: 'btn btn-primary' do %>
      <i class="fa fa-upload "></i>
      Upload file
    <% end %>    
    <%= link_to new_sub_folder_path(@current_folder), class: 'btn btn-secondary' do %>
      <i class="fa fa-folder" aria-hidden="true"></i>
      New Folder
    <% end %>
  <% else %>
    <%= link_to new_folder_path, class: 'btn btn-secondary' do %>
      <i class="fa fa-folder" aria-hidden="true"></i>
      New Folder
    <% end %>
  <% end %>  

</div>


<% end %>