<% unless user_signed_in? %>
<div class="jumbotron">
  <h1 class="display-6"><%= t "home.logged_out.welcome_to_meehanbox" %></h1>
  <p class="lead"><%= t "home.logged_out.subtitle" %></p>
  <hr class="my-4">
  <p><%= t "home.logged_out.get_started" %></p>
  <p class="lead">
    <%= link_to new_user_session_path, class: 'btn btn-primary btn-lg' do %>
    <%= t "home.logged_out.login" %>
    <% end %>
    <%= link_to new_user_registration_path, class: 'btn btn-secondary btn-lg' do %>
      <%= t "home.logged_out.sign_up" %>
    <% end %>
  </p>
</div>
<div class="row">
  <div class="col-sm-5 offset-sm-1">
    <div class="features">
      <h2><%= t "home.logged_out.features.features" %></h2>
      <p>
        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
        <%= t "home.logged_out.features.upload_files" %>
      </p>
      <p>
        <i class="fa fa-cloud-download" aria-hidden="true"></i>
        <%= t "home.logged_out.features.download_files" %>
      </p>
      <p>
        <i class="fa fa-folder" aria-hidden="true"></i>
        <%= t "home.logged_out.features.create_folders" %>
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 20rem;">
      <div class="card-block">
        <h4 class="card-title">
          <%= t "home.logged_out.github_card.header" %>  
        </h4>
        <p class="card-text">
          <%= t "home.logged_out.github_card.text" %>
        </p>
        <a href="http://github.com/tomeehan/storage" class="btn btn-primary">
          <i class="fa fa-github" aria-hidden="true"></i> 
          <%= t "home.logged_out.github_card.btn" %>
        </a>
      </div>
    </div>    
  </div>    
  </div>

</div>
<% else %>
 
  <div class="card">
    <div class="card-header">
    <%= render :partial => "breadcrumbs" %>
    </div>
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              <%= t "home.logged_in.table.name" %>
            </th>
            <th>
              <%= t "home.logged_in.table.size" %>
            </th>
            <th>
              <%= t "home.logged_in.table.uploaded_at" %>
            </th>
            <th>
              <%= t "home.logged_in.table.actions" %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @folders.each do |folder| %>
          <tr>
            <td>
              <%= link_to browse_path(folder) do %>
                <i class="fa fa-folder" aria-hidden="true"></i>  
                <%= folder.name %>
              <% end %>
            </td>
            <td>
              -
            </td>
            <td>
              -
            </td>
            <td class="actions">
              <%= link_to rename_folder_path(folder) do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <% end %>
              <%= link_to do %>
              <i class="fa fa-share-square-o" aria-hidden="true"></i>
              <% end %>          
              <%= link_to folder, method: :delete, data: { confirm: I18n.t("home.logged_in.confirm_delete_folder")  } do %>
                <i class="fa fa-trash "></i> 
               <% end %>
            </td>
           </tr> 
          <% end %>
          <% @assets.each do |asset| %>
            <tr>
              <td>
                <%= link_to asset.uploaded_file.url do %>
                  <i class="fa fa-file-o" aria-hidden="true"></i>
                  <%= asset.uploaded_file_file_name %>
                <% end %>
              </td>
              <td>
                <%= number_to_human_size(asset.uploaded_file_file_size, precision: 2) %>
              </td>
              <td><%= asset.uploaded_file_updated_at %></td>
              <td class="actions">
                <%= link_to download_url(asset) do %>
                  <i class="fa fa-download "></i> 
                <% end %>
                <%= link_to asset, method: :delete, data: { confirm: I18n.t("home.logged_in.confirm_delete_file")  } do %>
                  <i class="fa fa-trash "></i> 
                 <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if current_user.assets.count == 0 %>
      <div class="no-files">
        <p>
          <i class="fa fa-frown-o fa-5x"></i>
          <br>
          <br>
          <br>
          <%= t("home.logged_in.empty_folder_top", :username => current_user.name) %>
          <br>
          <%= t("home.logged_in.empty_folder_bottom", :username => current_user.name) %>
        </p>
      </div>
      <% end %>
    </div>
      <div class="card-footer">
      <% if @current_folder %>
        <%= link_to new_sub_file_path(@current_folder), class: 'btn btn-primary' do %>
          <i class="fa fa-upload "></i>
          <%= t "home.logged_in.new_file" %>
        <% end %>    
        <%= link_to new_sub_folder_path(@current_folder), class: 'btn btn-secondary' do %>
          <i class="fa fa-folder" aria-hidden="true"></i>
          <%= t "home.logged_in.new_folder" %>
        <% end %>
      <% else %>
        <%= link_to new_folder_path, class: 'btn btn-secondary' do %>
          <i class="fa fa-folder" aria-hidden="true"></i>
          <%= t "home.logged_in.new_folder" %>
        <% end %>
      <% end %>  
    
    </div>
  </div>


<% end %>