<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card form-signin">
        <h3 class="card-header">
          <%= t "user.session.sign_in" %>
        </h3>
        <div class="card-block">
  
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %><br />
                <div class="input-group">
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                  <div class="input-group-addon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                </div>
            </div>
  
            <div class="form-group">
              <%= f.label :password %><br />
                <div class="input-group">
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                <div class="input-group-addon">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
              </div>
            </div>
  
            <% if devise_mapping.rememberable? -%>
              <div class="form-check">
                <label class="form-check-label">
                <%= f.check_box :remember_me, class: "form-check-input" %> 
                <%= t "user.session.remember_me" %>
              </label>
              </div>

            <% end -%>
            
            <div class="actions">
                <%= f.submit t('user.session.log_in'), class: 'btn btn-primary btn-lg btn-block' %>
            </div>
          <% end %>
      </div>
    </div>
    <br>
    <%= render "devise/shared/links" %>
  </div>  
</div>