<%= form_for @asset, :html => {:multipart => true} do |f| %> 
    <br>
    <p> 
    	<%= f.label :uploaded_file, "File" %><br /> 
			<%= f.file_field :uploaded_file, class: "file-field"%>
			<%= f.hidden_field :folder_id %>
    </p>
    
  	<p>
  		<%= f.submit t('file.new.upload'), class: 'btn btn-primary btn-lg btn-block' %>
  	</p> 
<% end %>