<!DOCTYPE html>
<html>
  <head>
    <title>Storage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <i class="fa fa-bars"></i> Menu
		  </button>
		  <a class="navbar-brand" href="/"><i class="fa fa-archive"></i> MeehanBox</a>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <% if user_signed_in? %>
		      		<%= link_to "My Files", root_path, class: 'nav-item nav-link' %>
					<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
				<% else %>
					<%= link_to "Log in", new_user_session_path, class: 'nav-item nav-link' %>
					<%= link_to "Sign up", new_user_registration_path, class: 'nav-item nav-link' %>
				<% end %>
		    </div>
		  </div>
		</nav>		
			<div class="container">
				<% if flash[:error] -%>
				  <br>
				  <p class='alert alert-warning'><%=h flash[:error] %></p>
				<% end -%>
				<% if flash[:notice] -%>
				  <br>
				  <p class='alert alert-info'><%=h flash[:notice] %></p>
				<% end -%>
			</div>
	<br>
	<br>
	<br>
    <div class="container">
    	<div class="<% if user_signed_in? %>card<% end %>">
    		<%= yield %>
    	   	</div>
    </div>

  </body>
</html>
